{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}

    <section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('{% static 'mainapp/images/about-2.png' %}');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">About Us</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex">
	    		<div class="col-md-6 ftco-animate img about-image order-md-last" style="background-image: url({% static 'mainapp/images/aboutstuff.png' %});">
	    		</div>
	    		<div class="col-md-6 ftco-animate pr-md-5 order-md-first">
		    		<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		              <a class="nav-link active" id="v-pills-whatwedo-tab" data-toggle="pill" href="#v-pills-whatwedo" role="tab" aria-controls="v-pills-whatwedo" aria-selected="true">Who we are</a>

		              <a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-mission" role="tab" aria-controls="v-pills-mission" aria-selected="false">Our mission</a>

		              <a class="nav-link" id="v-pills-goal-tab" data-toggle="pill" href="#v-pills-goal" role="tab" aria-controls="v-pills-goal" aria-selected="false">Our Core Values</a>
		            </div>
		          </div>
		          <div class="col-md-12 d-flex align-items-center">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

		              <div class="tab-pane fade show active" id="v-pills-whatwedo" role="tabpanel" aria-labelledby="v-pills-whatwedo-tab">
		              	<div>
			                <!-- <h2 class="mb-4">Who we are</h2> -->
			              	<h2 class="mb-4"><p>Caritas Community Hospital is a private , non-profit making hospital hospital which strive to provide access to quality healthcare to all who need it. For over four years , Caritas Community Hospital has been taking care of patients all over Kenya. The hospital has a bed capacity of 50 beds and is registered under medical practitioners and dentists act.</p><h2>
			                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p> -->
				            </div>
		              </div>

		              <div class="tab-pane fade" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab">
		                <div>
			                <!-- <h2 class="mb-4">To Accomodate All Patients</h2> -->
			              	<h2 class="mb-4"><p>To be a leading Hospital known for meeting the health care needs of the entire community through in-comparable patients care and at an affordable costs .</p><h2>
			                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p> -->
				            </div>
		              </div>

		              <div class="tab-pane fade" id="v-pills-goal" role="tabpanel" aria-labelledby="v-pills-goal-tab">
		                <div>
			               <!--  <h2 class="mb-4">Help Our Customers Needs</h2> -->
			              	<h2 class="mb-4"><p>Quality, Integrity, Value, Respect, Ethics, co-operation and responsibility.</p></h2>
			               <!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p> -->
				            </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
    	</div>
    </section>

<!--     <section class="ftco-section-2">
    	<div class="container-wrap">
      	<div class="row d-flex no-gutters">
      		<div class="col-md-6 img" style="background-image: url({% static 'mainapp/images/aboutstuff.png' %});">
      		</div>
      		<div class="col-md-6 d-flex">
      			<div class="about-wrap">
      				<div class="heading-section heading-section-white mb-5 ftco-animate">
		            <h2 class="mb-2">Dentacare with a personal touch</h2>
		            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
		          </div>
      				<div class="list-services d-flex ftco-animate">
      					<div class="icon d-flex justify-content-center align-items-center">
      						<span class="icon-check2"></span>
      					</div>
      					<div class="text">
	      					<h3>Well Experience Dentist</h3>
	      					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      					</div>
      				</div>
      				<div class="list-services d-flex ftco-animate">
      					<div class="icon d-flex justify-content-center align-items-center">
      						<span class="icon-check2"></span>
      					</div>
      					<div class="text">
	      					<h3>High Technology Facilities</h3>
	      					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      					</div>
      				</div>
      				<div class="list-services d-flex ftco-animate">
      					<div class="icon d-flex justify-content-center align-items-center">
      						<span class="icon-check2"></span>
      					</div>
      					<div class="text">
	      					<h3>Comfortable Clinics</h3>
	      					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      					</div>
      				</div>
      			</div>
      		</div>
      	</div>
      </div>
    </section> -->
<section class="ftco-section ftco-services">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <h2 class="mb-2">Services we provide</h2>
          <p>Here are some of the services we offer at our hospital</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
              <span></span>
              <!-- <span class="flaticon-tooth-1"></span> -->
              <span class="flaticon-anesthesia"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Theater</h3>
              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
              <!-- <span class="flaticon-dental-care"></span> -->
              <span class="flaticon-anesthesia"></span>
              
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Maternity</h3>
              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
              <!-- <span class="flaticon-tooth-with-braces"></span> -->

              <span class="flaticon-anesthesia"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Laboratory</h3>
              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
              <!-- <span class="flaticon-anesthesia"></span> -->
              <span class="flaticon-anesthesia"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Pharmacy</h3>
              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-wrap mt-5">
      <div class="row d-flex no-gutters">
        <div class="col-md-6 img" style="background-image: url('{% static 'mainapp/images/about-2.png' %}');">
        </div>
        <div class="col-md-6 d-flex">
          <div class="about-wrap">
            <div class="heading-section heading-section-white mb-5 ftco-animate">
              <h2 class="mb-2">Medical services with a personal touch</h2>
              <p>We offer proffessionla services at affordable prices and various insurance covers .</p>
            </div>
            <div class="list-services d-flex ftco-animate">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-check2"></span>
              </div>
              <div class="text">
                <h3>Proffesional services provided</h3>
                <p>Our team of qualified professional staff strives to provide with the best quality practices.</p>
              </div>
            </div>
            <div class="list-services d-flex ftco-animate">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-check2"></span>
              </div>
              <div class="text">
                <h3>Qualified personnel</h3>
                <p>Our team of medical professionals and staff are here to provide you and your loved ones with the
                  highest standards of healthcare.</p>
              </div>
            </div>
            <div class="list-services d-flex ftco-animate">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-check2"></span>
              </div>
              <div class="text">
                <h3>24/7 Services</h3>
                <p>To ensure you are always safe and well cared for we are available all the time. Our doors are always open.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



    <section class="ftco-section testimony-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <h2 class="mb-2">Testimony</h2>
          <span class="subheading">Our Happy Customer Says</span>
        </div>
      </div>
      <div class="row justify-content-center ftco-animate">
        <div class="col-md-8">
          <div class="carousel-testimony owl-carousel ftco-owl">
            <div class="item">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-5" style="background-image: url({% static 'mainapp/images/person_5.png' %})">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text text-center">
                  <p class="mb-5">Best services all round with polite staff memebers .</p>
                  <p class="name">Patient 1</p>
                  <span class="position">Patient</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-5" style="background-image: url({% static 'mainapp/images/person_5.png' %})">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text text-center">
                  <p class="mb-5">Best services all round with polite staff memebers.</p>
                  <p class="name">Patient 2</p>
                  <span class="position">Patient</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-5" style="background-image: url({% static 'mainapp/images/person_5.png' %})">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text text-center">
                  <p class="mb-5">Best services all round with polite staff memebers.</p>
                  <p class="name">Patient 2</p>
                  <span class="position">Patient</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-5" style="background-image: url({% static 'mainapp/images/person_5.png' %})">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text text-center">
                  <p class="mb-5">Best services all round with polite staff memebers.</p>
                  <p class="name">Patient</p>
                  <span class="position">Patient 3</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-5" style="background-image: url({% static 'mainapp/images/person_5.png' %})">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text text-center">
                  <p class="mb-5">Best services all round with polite staff memebers.</p>
                  <p class="name">Patient 4</p>
                  <span class="position">Patient</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

     <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'mainapp/images/home_1.png' %});"
    data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-3 aside-stretch py-5">
          <div class=" heading-section heading-section-white ftco-animate pr-md-4">
            <h2 class="mb-3">Achievements</h2>
            <p>Here is a short descrition of some of our Achievements.</p>
          </div>
        </div>
        <div class="col-md-9 py-5 pl-md-5">
          <div class="row">
            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="text">
                  <strong class="number" data-number="10">0</strong>
                  <span>Years of Experience</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="text">
                  <strong class="number" data-number="10">0</strong>
                  <span>Qualified Doctors</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="text">
                  <strong class="number" data-number="300">0</strong>
                  <span>Satisfied patients</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="text">
                  <strong class="number" data-number="30">0</strong>
                  <span>Patients Per day</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  



  



{% endblock content %}